/* .app-bar-wrapper__app-bar {
  margin-left: 240px;
} */

/* .app-bar-wrapper__app-bar__tool-bar__icon-button {
  margin-right: 20px;
} */

/* .app-bar-wrapper {
  display: flex;
} */

.drawer {
  width: 240px;
}

@media screen and (min-width: 1280px) {
  .app-bar-wrapper {
    display: flex;
  }

  .app-bar-wrapper__app-bar {
    margin-left: 240px;
    /* width: calc( 100% - 240px ); */
    width: 200px;
  }

  .app-bar-wrapper__app-bar__tool-bar__icon-button {
    margin-right: 20px;
    display: none;
  }

  .app-bar-wrapper__drawer-wrapper {
    width: 240px;
    flex-shrink: 0;
  }

  .app-bar-wrapper__main {
    flex-grow: 1;
  }
}