.app-bar-wrapper {
  display: flex;
}

.app-bar-wrapper__app-bar {
  margin-left: 240px;
}

@media screen and (min-width:1280px) {
  .app-bar-wrapper__app-bar {
    width: calc( 100% - 240px );
  }
}

.app-bar-wrapper__app-bar__tool-bar__icon-button {
  margin-right: 20px;
}

@media screen and (min-width:1280px) {
  .app-bar-wrapper__app-bar__tool-bar__icon-button {
    display: none;
  }
}

@media screen and (min-width:1280px) {
  .app-bar-wrapper__drawer-wrapper {
    width: 240px;
    flex-shrink: 0;
  }
}

.drawer {
  width: 240px;
}

.app-bar-wrapper__main {
  flex-grow: 1;
}